#title {
    -webkit-animation: fadeInDown .7s .1s both;
    -moz-animation: fadeInDown .7s .1s both;
    animation: fadeInDown .7s .1s both;
}
#subtitle1 {
    -webkit-animation: fadeIn 1s 0.6s both;
    -moz-animation: fadeIn 1s 0.6s both;
    animation: fadeIn 1s 0.6s both;
}
#subtitle2 {
    -webkit-animation: fadeIn 1s 1.2s both;
    -moz-animation: fadeIn 1s 1.2s both;
    animation: fadeIn 1s 1.2s both;
}
#tagline {
    -webkit-animation: fadeIn 0.8s 1.8s both;
    -moz-animation: fadeIn 0.8s 1.8s both;
    animation: fadeIn 0.8s 1.8s both;
}
#download {
    -webkit-animation: flipInX 1s 2.2s both;
    -moz-animation: flipInX 1s 2.2s both;
    animation: flipInX 1s 2.2s both;
}
#iphone {
    -webkit-animation: fadeInLeft 1s 0.9s both;
    -moz-animation: fadeInLeft 1s 0.9s both;
    animation: fadeInLeft 1s 0.9s both;
}
#watch {
    -webkit-animation:fadeInRight 1s 1.3s both;
    -moz-animation:fadeInRight 1s 1.3s both;
    animation:fadeInRight 1s 1.3s both;
}