@media print, screen and (max-width: 640px) {
/* iPhone only */
h1 {
	font-size: 50px;
	font-weight: 100;
	padding-top: 44px;
}
h2 {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.18px;
	line-height: 36px;
	padding-top: 12px;
}
h3 {
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.18px;
	line-height: 24px;
	padding-bottom: 24px;
}
article .hero {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Section Mid */

/*
#mid {
	position: absolute;
	left: 0px;
	top: 290px;
	height: 580px;
}
#iphone {
	position: absolute;
	height: 505px;
	width: 251px;
	left: 20px;
	top: 20px;
	margin: 0px;
}
#iphone-screen {
	height: 389px;
	width: 219px;
	margin-left: 16px;
	margin-top: 58px;
}
#watch {
	position: absolute;
	height: 285px;
	width: 157px;
	top: 316px;
	right: 20px;
	margin: 0px;
}
#watch-screen {
	height: 129px;
	width: 103px;
	margin-left: 23px;
	margin-top: 78px;
}
#mid .hero {
	position: absolute;
}

/* Section Press */
/*
#press .hero {
	height: 60vh;
}

#press {
	position: absolute;
	left: 0px;
	top: 920px;
}


/* Footer */
/*
#foot p {
	position: absolute;
	top: 1760px;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	width: 100%;
	padding-top: 24px;
}
#foot a {
	font-size: 14px;
}

}