/* Common */

section {
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding-bottom: 40px;
}
section header {
	padding-bottom: 40px;
}
section footer {
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: text-top;
}
article .hero {
	background-color: #19171A;
	background-position: center center;
}
article p {
	text-align: left;
}
article .content {
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/* Top */
#top {
	background-color: #000;
	min-height: 440px;
}
#download {
	padding-bottom: 42px;
}

#banner {
	background-image: url("../resources/banner-phone.jpg");
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}
.banner-watch {
	background-image: url("../resources/banner-watch.jpg");
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

/* Features */

#features {
	min-height: 100vh;
}
#left {
	min-width: 526px;
	width: 616px;
	margin: 40px 0px;
}
#iphone {
	height: 737px;
	min-width: 366px;
	margin: auto;
	background-image: url("../resources/phone.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	-webkit-order:1;
}
#watch {
	height: 374px;
	width: 207px;
	min-width: 160px;
	margin: 300px auto 0px auto;
	background-image: url("../resources/watch.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	-webkit-order: 0;
}
#iphone-screen {
	height: 568px;
	width: 320px;
	margin-left: 23px;
	margin-top: 84px;
	background-size: contain;
	background-origin: border-box;
}
#iphone-screen img {
	width: 100%;
}
#watch-screen {
	height: 170px;
	width: 136px;
	margin-left: 29px;
	margin-top: 99px;
	background-size: contain;
	background-origin: border-box;
}
#wordings {
	margin: 0px 40px 30px 40px;
	min-width: 320px;
	-webkit-order:2;
}
#wordings h1 {
	padding: 0px;
}
#wordings header {
	/* same as h2 */
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
	text-align: left;
	color: #666666;
	letter-spacing: 0.89px;
	line-height: 39px;
	padding-top: 0px;
	padding-bottom: 16px;
}
#wordings section {
	padding-top: 40px;
	padding-bottom: 0px;
}

/* Press */

#press .hero {
	background-image: url("../resources/press-section.png");
	background-size: cover;
	height: 750px;
	width: 100%;
}

/* Foot */
#foot p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #999;
	font-size: 15px;
	letter-spacing: 0.6px;
	line-height: 22px;
  	padding-top: 33px;
  	padding-bottom: 33px;
}
#foot a {
	font-size: 16px;
}
#mixpanel {
	right: 20px;
	bottom: 26px;
	position: relative;
	float: right;
	display: none;
}
