html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6, figure {
    margin:0;
    padding:0;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust:none;
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #666666;
}
body {
	background: #000;
	text-align: center;
}
h1 {
	/* TODAY: */
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 69px;
	color: #CCCCCC;
	line-height: 83px;
	padding-top: 66px;
}
h2 {
	/* A TIMER WITH TRACKIN: */
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #666666;
	letter-spacing: 0.89px;
	line-height: 39px;
	padding-top: 31px;
}
h3 {
	/* A TIMER WITH TRACKIN: */
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #666666;
	letter-spacing: 0.89px;
	line-height: 39px;
	padding-bottom: 25px;
}
a {
	color:#00A7FF;
	text-decoration: none;
}
a:hover {
	color:#0074B3;
}
p {
	font-size: 20px;
	letter-spacing: 0.89px;
	line-height: 39px;
}

.info {
	font-size: 12px;
}
.t {
	color: #DDDDDD;
}
.o {
	color: #FF5C4C;
}
.d {
	color: #59B2DB;
}
.a {
	color: #3BCF00;
}
.y {
	color: #DDDDDD;
}
.shadow {
	/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
  -webkit-box-shadow: inset 0 0 10px #000000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    inset 0 0 10px #000000;  /* Firefox 3.5 - 3.6 */
  box-shadow:         inset 0 0 10px #000000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
